:root{
    --clr: #222327;
    --wht: #fff;
    --vlt: #2c073f;
    --vlt2: #6c1b95;
}

#map{
    height: 700px;
    width: auto;
    margin: 2rem;
}

body{
    background: #222327;
}

.home{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
    bottom: 10%;
    width: 4rem;
    height: 4rem;
    background: var(--wht);
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 1px var(--vlt);
}

.home .home-icon{
    color: var(--clr);
    font-size: 1.8rem;
}

.home:hover{
    background: var(--vlt2);
    box-shadow: 0px 0px 10px 1px var(--wht);
}

.home:hover .home-icon{
    color: var(--wht);
}

@media (max-width: 700px) {
    .home{
        bottom: 8%;
        width: 2rem;
        height: 2rem;
    }
    .home .home-icon{
        font-size: 0.8rem;
    }
}