*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

:root{
    --clr: #222327;
    --wht: #fff;
    --vlt: #2c073f;
    --vlt1: #440c60;
    --vlt2: #6c1b95;
}

body{
    background: var(--clr);
}
.container{
    width: 80% auto;
    height: 80vh;
    margin: 6rem;
    padding: 3rem 7rem;
    background-color: var(--vlt1);
}

.container h1{
    margin: 1.2rem;
    font-size: 32px;
    color: var(--wht);
}

.container p{
    margin: 1.2rem;
    font-size: 18px;
    color: var(--wht);
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 1.2rem;
}

a{
    text-decoration: none;
    color: var(--wht);
    padding: .5rem 0;
    cursor: pointer;
}