*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

:root{
    --clr: #222327;
    --wht: #fff;
    --gry: #7c7c7c;
    --vlt: #2c073f;
    --vlt1: #440c60;
    --vlt2: #6c1b95;
}

body{
    background: var(--clr);
}

.containerd{
    width: 80% auto;
    margin: 6rem;
    padding-bottom: 2rem;
    background-color: var(--vlt1);
}

.containerd h1{
    margin: 1.2vw;
    padding: 2rem 5rem 0 5rem;
    text-align: center;
    font-size: 2vw;
    color: var(--wht);
}

.containerd .text{
    margin: 1.2vw;
    padding: 1rem 5rem;
    text-align: center;
    font-size: 1vw;
    color: var(--wht);
}

a{
    text-decoration: none;
    color: var(--wht);
}

a:hover{
    color: var(--gry);
}