*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

:root{
    --clr: #222327;
    --wht: #fff;
    --vlt: #2c073f;
    --vlt1: #440c60;
    --vlt2: #6c1b95;
}

body{
    background: var(--clr);
}

.containerd{
    width: 80% auto;
    margin: 6rem;
    padding-bottom: 4rem;
    background-color: var(--vlt1);
}

.containerd h1{
    margin: 1.2rem;
    padding: 1rem 5rem;
    font-size: 32px;
    color: var(--wht);
}

.containerd p{
    margin: 1.2rem;
    padding: 1rem 5rem;
    font-size: 18px;
    color: var(--wht);
}

