*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --clr: #222327;
    --wht: #fff;
    --vlt: #2c073f;
    --vlt1: #440c60;
    --vlt2: #6c1b95;
}

body{
    background-color: var(--vlt2);
}

#container{
    background-color: #fff;
    position: relative;
    width: 80px;
    height: 40px;
    box-shadow: inset 4px 4px 6px #cecece,
                inset -4px -4px 6px #fff;
    margin: 0px auto;
    margin-top: 350px;
    cursor: pointer;
    border-radius: 25px;
}

.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(.7);
    background-color: var(--vlt1);
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4,
                -3px -3px 8px #fff;
}

#container.active .toggle{
    left: 40px;
    background-color: var(--clr);
}

body.active{
    background-color: var(--clr);
}

.home{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
    bottom: 10%;
    width: 4rem;
    height: 4rem;
    background: var(--wht);
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 1px var(--vlt);
}

#container.active .home{
    background-color: var(--vlt2);
}

#container.active .home .home-icon{
    color: var(--wht);
}

.home .home-icon{
    color: var(--clr);
    font-size: 1.8rem;
}

.home:hover{
    box-shadow: 0px 0px 10px 1px var(--wht);
}
