*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr: #222327;
    --wht: #fff;
    --vlt: #2c073f;
    --vlt1: #440c60;
    --vlt2: #6c1b95;
}
body{
    background-color: var(--clr);
}

.box{
    height: 320px;
    background: var(--vlt);
    background: linear-gradient(60deg, var(--vlt) 0%, var(--vlt1) 35%, var(--vlt2) 100%);
    color: var(--wht);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 120px 340px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clip-path: polygon(0 0, 100% 0, 100% 250px, 0 100%);
}

.container{
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
}

.number{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5px;
}