*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr: #222327;
    --wht: #fff;
    --vlt: #2c073f;
    --vlt1: #440c60;
    --vlt2: #6c1b95;
}
body{
    background-color: var(--clr);
}

.box{
    height: 320px;
    background: var(--vlt);
    background: linear-gradient(60deg, var(--vlt) 0%, var(--vlt1) 35%, var(--vlt2) 100%);
    color: var(--wht);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 120px 340px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clip-path: polygon(0 0, 100% 0, 100% 250px, 0 100%);
}

.container{
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
}

.number{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5px;
}

.home{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
    bottom: 10%;
    width: 4rem;
    height: 4rem;
    background: var(--wht);
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 1px var(--vlt);
}

.home .home-icon{
    color: var(--clr);
    font-size: 1.8rem;
}

.home:hover{
    background: var(--vlt2);
    box-shadow: 0px 0px 10px 1px var(--wht);
}

.home:hover .home-icon{
    color: var(--wht);
}

@media (max-width: 700px) {
    .home{
        bottom: 8%;
        width: 2rem;
        height: 2rem;
    }
    .home .home-icon{
        font-size: 0.8rem;
    }
    .box{
        height: 250px;
        margin: 20px auto;
        clip-path: polygon(0 0, 100% 0, 100% 200px, 0 100%);
    }
    .container{
        width: 90%;
        justify-content: space-evenly;
        margin: 15px auto;
    }
    .number{
        font-size: 30px;
    }
    h1{
        font-size: 22px;
    }
    span{
        font-size: 10px;
    }
}