*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --clr: #222327;
    --wht: #fff;
    --vlt: #2c073f;
    --vlt1: #440c60;
    --vlt2: #6c1b95;
}

body{
    background: #222327;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container figure{
    position:relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    margin: 3rem;
}
.container figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.container figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(156, 156, 156, 0.6);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.container figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.container figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.container figure:hover > img{
    transform: scale(1.3);
}
.container figure .capa h3{
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}
.container figure .capa p{
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.home{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
    bottom: 10%;
    width: 4rem;
    height: 4rem;
    background: var(--wht);
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 1px var(--vlt);
}

.home .home-icon{
    color: var(--clr);
    font-size: 1.8rem;
}

.home:hover{
    background: var(--vlt2);
    box-shadow: 0px 0px 10px 1px var(--wht);
}

.home:hover .home-icon{
    color: var(--wht);
}

@media (max-width: 700px) {
    .home{
        bottom: 8%;
        width: 2rem;
        height: 2rem;
    }
    .home .home-icon{
        font-size: 0.8rem;
    }
    .container{
        flex-direction: column;
    }
    .container figure{
        width: 250px;
        height: 190px;
        margin: 0.5rem;
    }
}
