*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --clr: #222327;
  --wht: #fff;
  --vlt: #2c073f;
  --vlt1: #440c60;
  --vlt2: #6c1b95;
  --ddd: #dddddd;
}

body {
    background-color: var(--clr);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divContainer{
    display: none;
    flex-direction: column;
}

.update{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    color: var(--wht);
}

#container{
    background-color: var(--vlt2);
    padding: 40px;
    display: flex;
    flex-direction: row;
    border-radius: 10% / 50%;
    align-items: center;
}

#container > .block {
    padding: 20px;
}

.block{
    color: var(--wht);
}

.info-container{
    display: flex;
    padding: 4px;
}

.info-container .title{
    font-size: 35px;
}

.info-container .info{
    margin-left: 5px;
}

.temp{
    font-size: 25px;
    padding: 4px;
}

#refresh{
    border: none;
    padding: 0px 5px;
    background: none;
}


/* Spiner */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: var(--vlt2);
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
