*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr: #222327;
    --wht: #fff;
    --vlt: #2c073f;
    --vlt1: #440c60;
    --vlt2: #6c1b95;
}

body{
    background-color: var(--clr);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: var(--vlt);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 8px 6px 10px 5px #00000033;
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: var(--vlt);
    color: var(--wht);
    box-shadow: 5px 5px 10px -3px #00000040, 
                -5px -5px 10px .3px var(--vlt1)
}

button:active{
    background-color: var(--vlt2);
}

button:focus{
    outline: none;
}

.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--vlt1);
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 10px 10px #00000033;
    color: var(--wht);
}

.col-2{
    grid-column: span 2;
}

#value-actual{
    font-size: 1.5em;
}

#value-prev{
    font-size: 2em;
}

.home{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
    bottom: 10%;
    width: 4rem;
    height: 4rem;
    background: var(--wht);
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 1px var(--vlt);
}

.home .home-icon{
    color: var(--clr);
    font-size: 1.8rem;
}

.home:hover{
    background: var(--vlt2);
    box-shadow: 0px 0px 10px 1px var(--wht);
}

.home:hover .home-icon{
    color: var(--wht);
}

@media (max-width: 700px) {
    .home{
        bottom: 8%;
        width: 2rem;
        height: 2rem;
    }
    .home .home-icon{
        font-size: 0.8rem;
    }
    .container{
        height: 80vh;
    }
}