body{
    background-color:dodgerblue;
    color: #fff;
    text-align: center;
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.number{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5px;
}