:root{
    --clr: #222327;
    --wht: #fff;
    --vlt: #2c073f;
    --vlt1: #440c60;
    --vlt2: #6c1b95;
    --ddd: #dddddd;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-color:  var(--clr);
}

*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    margin: 125px auto;
    padding: 25px;
    background-color: var(--wht);
    width: 100%;
    max-width: 350px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 50px;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--ddd);
}

input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--ddd);
}

.orderButton {
    background-color: var(--vlt);
    color: var(--wht);
}

.task {
    background-color: var(--vlt2);
    padding: 15px;
    margin-top: 15px;
    color: var(--wht);
    cursor: pointer;
}

.done {
    background-color: var(--ddd);
    text-decoration: line-through;
    color: var(--clr);
}

.deleteTaskButton {
    height: 22px;
    border-radius: 50%;
    font-size: 12px;
    background-color: var(--ddd);
    border: none;
    cursor: pointer;
    position: absolute;
    right: 4%;
}

#tasksContainer{
    display: inline;
    position: relative;
}

.home{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
    bottom: 10%;
    width: 4rem;
    height: 4rem;
    background: var(--wht);
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 1px var(--vlt);
}

.home .home-icon{
    color: var(--clr);
    font-size: 1.8rem;
}

.home:hover{
    background: var(--vlt2);
    box-shadow: 0px 0px 10px 1px var(--wht);
}

.home:hover .home-icon{
    color: var(--wht);
}